$main-color: #184a8c;

.home-login-register {
    background-image: url("../images/bac-home-login.svg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    padding: 15px 0 0;
    .nav-box-head {
        height: 100px;
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        padding: 20px 25px;
        .first {
            display: flex;
            align-items: center;
            justify-content: center;
            img {
                width: 150px;
                height: 150px;
                object-fit: cover;
            }
            h2 {
                text-transform: capitalize;
                font-size: 30px;
                color: #fff;
                margin-left: 10px;
                padding: 0 25px;
            }
        }
        .second {
            display: flex;
            align-items: center;
            justify-content: center;
            a {
                color: #fff;
                font-size: 20px;
                margin-right: 20px;
                text-decoration: none;
                padding: 10px 25px;
                background-color: $main-color;
                border-radius: 25px;
                transition: all 0.3s;
                &:hover {
                    color: #fff;
                    text-decoration: underline;
                }
            }
        }
    }
    .center-box-all {
        height: calc(90vh - 100px);
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 80%;
        margin: auto;
        background-color: #fff;
        padding: 25px 20px;
        border-radius: 5px;
        .left-box {
            width: 500px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            gap: 25px;
            h1 {
                font-size: 30px;
                text-transform: capitalize;
                margin-bottom: 20px;
                span.one {
                    color: #000;
                    display: block;
                }
                span.two {
                    color: $main-color;
                }
            }
            p {
                font-size: 20px;
                width: 80%;
                font-weight: 400;
                color: #000;
                margin-bottom: 20px;
            }
            button {
                padding: 10px 25px;
                background-color: $main-color;
                color: #fff;
                font-size: 20px;
                border: none;
                border-radius: 25px;
                cursor: pointer;
                transition: all 0.3s;
                border: 1px solid transparent;
                &:hover {
                    background-color: #fff;
                    color: $main-color;
                    border: 1px solid $main-color;
                }
            }
        }
        .right-box {
            width: calc(100% - 500px);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .box-all-items {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                .one {
                    gap: 15px;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin-bottom: 20px;
                    .item {
                        width: calc(100% / 3);
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        flex-direction: column;
                        padding: 30px 10px;
                        img {
                            width: 50px;
                            height: 50px;
                            object-fit: cover;
                        }
                        p {
                            font-size: 17px;
                            color: #000;
                            margin: 0;
                            margin: 10px 0 0;
                        }
                    }
                }
            }
        }
    }
}

.student-home {
    header {
        background-color: hsl(201, 100%, 28%);
        color: #fff;
        text-align: center;
        nav {
            height: 70px;
        }
        .navbar-brand {
            img {
                width: 80px;
                height: 80px;
                object-fit: cover;
            }
        }
        h1 {
            font-size: 2em;
            margin: 0;
        }
        ul {
            width: 100%;
            justify-content: flex-end;
            .nav-link {
                color: #fff !important;
                font-size: 1.2em;
                margin: 0 10px;
                text-decoration: none;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }

    main {
        .hero {
            width: 90%;
            margin: auto;
            .box-all-head-two {
                display: flex;
                width: 100%;
                justify-content: space-between;
                align-items: center;
                .one {
                    display: flex;
                    align-items: flex-start;
                    justify-content: flex-start;
                    flex-direction: column;
                    h1 {
                        font-size: 2.5em;
                        color: #007bff;
                        margin-bottom: 20px;
                    }
                    p {
                        font-size: 1.2em;
                        margin-bottom: 20px;
                        color: #000;
                        width: 80%;
                        text-align: left;
                    }
                }
                .img-box {
                    img {
                        width: 300px;
                        height: 300px;
                        object-fit: cover;
                    }
                }
            }
        }
    }
    .hero {
        .hero-buttons {
            margin: 25px 0;
            display: flex;
            justify-content: space-between;
            gap: 25px;
            align-items: center;
            .item {
                width: calc(100% / 3);
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                img {
                    width: 100%;
                    height: 200px;
                    object-fit: cover;
                }
            }
            button {
                padding: 10px 20px;
                margin: 5px;
            }
        }
    }

    .unique-features {
        width: 90%;
        margin: auto;
        h2 {
            font-size: 2em;
            margin-bottom: 20px;
        }

        .feature-img {
            width: 50px;
            height: 50px;
            margin-bottom: 10px;
        }

        p {
            font-size: 1em;
        }
        .all-item-six {
            .col-md-4 {
                display: flex;
                align-items: center;
                justify-content: center;
            }
            .item {
                padding: 10px 0;
                border-radius: 5px;
                width: 90%;
            }
        }
    }

    .course-info {
        width: 90%;
        margin: auto;
        .card {
            background-color: #efefef;
            h3 {
                font-size: 1.5em;
                margin-bottom: 10px;
            }

            p {
                font-size: 1.2em;
                margin-bottom: 20px;
            }

            button {
                padding: 10px 20px;
                color: #000;
                border: 1px solid #000;
                background-color: #fff;
                border-radius: 5px;
            }
        }
    }
}

header {
    background-color: hsl(201, 100%, 28%);
    color: #fff;
    text-align: center;

    nav {
        height: 70px;
    }
    .navbar-brand {
        color: #fff;
        img {
            width: 80px;
            height: 80px;
            object-fit: cover;
        }
    }
    h1 {
        font-size: 2em;
        margin: 0;
    }
    ul {
        width: 100%;
        justify-content: flex-end;
        .nav-link {
            color: #fff !important;
            font-size: 1.2em;
            margin: 0 10px;
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }
    }
    &.tran {
        position: fixed;
        width: 100%;
        background-color: transparent;
    }
}

body {
    background-color: #f6f4f4;
}

.student-lessons {
    .lesson-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 20px auto;
        width: 90%;
        img {
            width: 50%px;
            height: 300px;
            object-fit: cover;
        }
        h1 {
            font-size: 2em;
            color: #000;
            text-align: left;
            margin-bottom: 20px;
            span {
                margin: 15px 0 0;
            }
        }
        .one {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }
        .btn-primary {
            margin-bottom: 20px;
            width: 50%;
            text-align: center;
        }
    }

    .lesson-tabs {
        width: 90%;
        margin: auto;
        .nav-tabs .nav-link {
            font-size: 1.1em;
            &.active {
                border-bottom: 3px solid #007bff;
            }
        }

        .card {
            width: 100%;
        }

        .card-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: #e9ecef;
        }

        .card-body {
            ul {
                list-style: none;
                padding: 0;

                li {
                    padding: 5px 0;
                    font-size: 1em;
                    display: flex;
                    justify-content: space-between;

                    .badge-success {
                        margin-left: 10px;
                        padding: 10px 20px;
                        border-radius: 5px;
                    }
                }
            }
        }
        .box-all-items {
            gap: 20px;
            position: relative;
            .overlay {
                display: flex;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 200px;
                background-color: rgba(0, 0, 0, 0.5);
                color: #fff;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                i {
                    font-size: 3em;
                }
            }
            video {
                width: 100%;
                height: 200px;
                object-fit: cover;
            }
            .card-body {
                display: flex;
                align-items: center;
                justify-content: space-between;
                p,
                h5 {
                    margin: 0;
                }
            }
            &.quizzes-box {
                .card {
                    cursor: pointer;
                    img {
                        // height: 200px;
                        width: 100px;
                        margin: 50px 0 0;
                    }
                    .card-body {
                        padding: 10px;
                        background-color: #d9d9d9;
                        justify-content: center;
                        gap: 20px;
                        .card-title {
                            position: absolute;
                            background-color: #005f91;
                            margin: 0;
                            border-radius: 5px;
                            padding: 6px 35px;
                            color: #fff;
                            top: 7px;
                            left: 5px;
                        }
                        h5 {
                            font-size: 18px;
                            margin-bottom: 10px;
                        }
                        .card-text {
                            color: #005f91;
                            font-size: 18px;
                            font-weight: 600;
                        }
                    }
                }
            }
        }
    }
}

.subscription-card {
    position: relative;
    border: none;
    border-radius: 15px;
    background-color: #f8f9fa;

    .close-btn {
        border: none;
        font-size: 1.2rem;
        &:hover {
            color: #dc3545;
        }
    }

    .card-title {
        font-size: 1.5rem;
        font-weight: bold;
    }

    .card-subtitle {
        font-size: 1.2rem;
    }

    .list-unstyled {
        font-size: 1rem;
        margin-bottom: 1rem;

        li {
            margin-bottom: 0.5rem;
        }
    }

    .price {
        font-size: 1.2rem;
        font-weight: bold;
    }
}

.quizzes-box-all {
    .quiz-title {
        font-size: 2rem;
        font-weight: bold;
        margin-bottom: 20px;
        color: #763cf0;
    }
    .quiz-card {
        flex-direction: row;
        align-items: center;
        padding: 0 10px;
        cursor: pointer;
        transition: transform 0.2s;
        &:hover {
            transform: scale(1.05);
        }
        .card-img-top {
            width: 45%;
            border: none !important;
        }
        .card-title {
            font-size: 1.2rem;
            font-weight: bold;
        }
        h5 {
            margin: 0;
        }
    }
}

.quizzes-box-all-page {
    main {
        margin-top: 20px;
    }

    .list-unstyled {
        padding-left: 20px;
    }

    ul.list-unstyled li {
        margin-bottom: 10px;
    }
}

.profile-page {
    .profile-settings {
        border-radius: 10px;
        padding: 20px 0;
        background: linear-gradient(#004265 20%, #0082c7 100%, #92d9ff 100%);
        .profile-picture-section {
            .profile-picture {
                width: 150px;
                height: 150px;
                border-radius: 50%;
            }

            .profile-name {
                margin-top: 10px;
                font-size: 20px;
                font-weight: bold;
                color: #fff;
            }
        }

        .profile-form {
            .form-row {
                margin-bottom: 15px;
            }

            // /* Define the color when the checkbox is checked */
            // .form-check-input:checked + label::before {
            //     content: '';
            //     display: inline-block;
            //     width: 16px;
            //     height: 16px;
            //     background-color: green; /* Change this to the desired color */
            //     border: 1px solid black; /* Optional: Add a border */
            //     margin-right: 5px;
            //     vertical-align: middle;
            // }

            // /* Optional: Style the label text */
            // label {
            //     vertical-align: middle;
            //     cursor: pointer;
            // }

            hr {
                margin: 30px 0;
            }

            .form-check-label {
                margin-left: 5px;
            }
            label {
                color: #fff;
            }

            .btn {
                width: 100%;
            }
        }
    }
}

.parent-1 {
    .card {
        border: none;
        border-radius: 15px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s;
        height: 70vh;
        overflow: hidden;
        padding: 0 20px;
    }

    .qoute-box {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 30px 0 0;
        p {
            font-size: 1.5rem;
            color: #6c757d;
            text-align: center;
        }
    }

    .img-box {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
            overflow: hidden;
            object-fit: contain;
            width: 80%;
            height: 400px;
        }
    }

    .card:hover {
        transform: scale(1.05);
    }

    .card-body {
        padding: 2rem;
        p {
            float: right;
        }
    }

    .card-title {
        font-size: 1.5rem;
        margin-bottom: 1.5rem;
        text-transform: uppercase;
    }

    .card-text {
        font-size: 3rem;
        color: #6c757d;
        margin-bottom: 1.5rem;
    }

    .btn-primary {
        border-radius: 50%;
        padding: 1rem;
        width: 4rem;
        height: 4rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .btn-primary .bi {
        font-size: 1.5rem;
    }
}

.parent-2 {
    .profile-section {
        display: flex;
        align-items: center;
    }

    .profile-img {
        width: 150px;
        height: 200px;
        object-fit: cover;
    }

    .student-info {
        margin-left: 20px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        .one {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            width: 100%;
            h2 {
                background-color: #005f91;
                color: #fff;
                padding: 10px 20px;
                border-radius: 5px;
            }
            h3 {
                border: 1px solid #005f91;
                padding: 10px 20px;
                border-radius: 5px;
                background-color: #fff;
                color: #005f91;
            }
        }
        h4 {
            margin-top: 25px;
            text-align: center;
            border: 1px solid #005f91;
            padding: 10px 20px;
            border-radius: 5px;
            background-color: #fff;
            color: #000;
        }
    }

    .student-info h2,
    .student-info h3 {
        margin: 0;
    }

    .attendance-table {
        width: 100%;
        margin-top: 20px;
    }

    .attendance-table th,
    .attendance-table td {
        text-align: center;
        padding: 10px;
    }

    .attendance-table .absent {
        color: red;
    }

    .attendance-table .present {
        color: green;
    }

    .attendance-table .good-grade {
        color: green;
    }

    .attendance-table .average-grade {
        color: orange;
    }

    .attendance-table .poor-grade {
        color: red;
    }

    .navbar-nav a {
        color: white;
    }
}

.parent-0 {
    background-image: url("../images/bac-home-login.svg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: calc(100vh);
    padding: 15px 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    .log-box {
        width: 50%;
        margin: auto;
        padding: 10px 25px;
        // background-color: #fff;
        backdrop-filter: blur(10px);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 25px;
        input {
            width: 60%;
        }
        button {
            align-self: flex-end;
            border: 1px solid #fff;
            padding: 5px 30px;
            color: #fff;
        }
    }
}

.techer-box-1 {
    h2.text {
        color: #9676db;
        text-transform: capitalize;
    }

    h4 {
        text-transform: capitalize;
        color: #a89b9b;
    }

    .btn-box {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    .card {
        border: none;
        border-radius: 15px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s;
        border: 1px solid #000;
        border-radius: 5px;
        .card-body {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            position: relative;
        }
        i {
            position: absolute;
            top: 10px;
            right: 15px;
        }
        img {
            width: 50px;
            margin: 10px 0;
        }
        h5 {
            background-color: #ddd;
            display: inline-block;
            padding: 5px 20px;
            border-radius: 5px;
        }
        p {
            align-self: flex-end;
            font-size: 18px;
            margin: 0;
        }
    }

    .card:hover {
        transform: scale(1.05);
    }

    .card-body {
        padding: 1rem;
    }

    .card-title {
        font-size: 1.25rem;
        margin-bottom: 0.5rem;
    }

    .card-text {
        font-size: 0.875rem;
        color: #6c757d;
        margin-bottom: 1rem;
    }

    .btn-primary {
        border-radius: 50%;
        padding: 0.5rem;
        width: 3rem;
        height: 3rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .text-center {
        text-align: center;
        width: 100%;
        font-size: 19px;
    }

    .btn-primary .bi {
        font-size: 1.5rem;
    }

    .list-group-item {
        display: flex;
        align-items: center;
        padding: 1rem 0.5rem;
    }

    .list-group-item img {
        border: 2px solid #dee2e6;
        padding: 0.25rem;
        height: 80px;
        width: 80px;
    }

    .list-group-item span {
        font-size: 1rem;
    }

    input.form-control {
        flex: 1;
        margin-right: 0.5rem;
    }
}

.techer-lessons {
    .card {
        border: none;
        border-radius: 15px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s;
    }

    .card:hover {
        transform: scale(1.05);
    }

    .card-body {
        padding: 1rem;
    }

    .card-title {
        font-size: 1.25rem;
        margin-bottom: 0.5rem;
    }

    .card-text {
        font-size: 0.875rem;
        color: #6c757d;
        margin-bottom: 1rem;
    }

    .btn-primary {
        border-radius: 50%;
        padding: 0.5rem;
        width: 3rem;
        height: 3rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .btn-primary .bi {
        font-size: 1.5rem;
    }
}

.techer-3 {
    .container {
        margin-top: 2rem;
    }

    h2 {
        font-family: "Brush Script MT", cursive;
        font-size: 2rem;
        margin-bottom: 2rem;
    }

    h4 {
        font-size: 1.25rem;
        margin-top: 1rem;
        margin-bottom: 0.5rem;
    }

    img {
        max-width: 100%;
        height: auto;
        margin-bottom: 1rem;
    }

    video {
        margin-bottom: 1rem;
    }

    .btn-light {
        display: block;
        width: 100%;
        margin-top: 1rem;
        font-size: 1rem;
    }

    .btn-danger {
        font-size: 1.25rem;
    }
}

.techer-4 {
    .container {
        margin-top: 2rem;
    }

    .welcome-text {
        color: #6a1b9a;
        font-size: 2rem;
        text-transform: capitalize;
    }

    .lesson-content {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin-top: 2rem;
    }

    .lesson-item {
        background-color: #ffffff;
        border: 1px solid #ddd;
        border-radius: 5px;
        padding: 1rem;
        text-align: center;
        img {
            width: 80px;
        }
    }

    .upload-btn {
        display: block;
        margin: 1rem auto 0;
    }

    .progress-list {
        margin-top: 2rem;
    }

    .progress-item {
        display: flex;
        align-items: center;
        margin-bottom: 1rem;
    }

    .progress-item img {
        width: 50px;
        height: 50px;
        margin-right: 1rem;
    }

    .progress-item span {
        flex-grow: 1;
    }

    .progress {
        flex-grow: 2;
        margin-right: 1rem;
    }

    .progress-bar {
        text-align: right;
        padding-right: 5px;
        color: #fff;
        font-weight: bold;
    }

    .bi-arrow-repeat {
        cursor: pointer;
        color: #6c757d;
    }
}

.techer-5 {
    .welcome-text {
        color: #6a1b9a;
        font-size: 2rem;
        text-transform: capitalize;
    }

    .lesson-content {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin-top: 2rem;
    }

    .text-left {
        color: #6a1b9a;
    }

    .lesson-item {
        background-color: #ffffff;
        border: 1px solid #ddd;
        border-radius: 5px;
        padding: 1rem;
        text-align: center;
        p {
            color: #005f91;
            font-size: 20px;
            font-weight: 700;
        }
    }

    .quiz-list {
        margin-top: 2rem;
    }

    .quiz-item {
        display: flex;
        align-items: center;
        margin-bottom: 1rem;
        background-color: #fff;
        border-radius: 5px;
        padding: 10px 20px;
    }

    .quiz-icon {
        width: 50px;
        height: 50px;
        margin-right: 1rem;
    }

    .quiz-item span {
        flex-grow: 1;
    }

    hr {
        border: 1px solid #ddd;
    }
}

.techer-6 {
    .container {
        margin-top: 2rem;
    }

    .information-title,
    .students-title {
        color: #0d6efd;
        font-size: 1.5rem;
        font-weight: bold;
    }

    .information-content {
        background-color: #ffffff;
        border: 1px solid #ddd;
        border-radius: 5px;
        padding: 2rem;
        text-align: center;
        font-size: 1.2rem;
        color: #ff0000;
    }

    .student-list {
        margin-top: 2rem;
    }

    .student-item {
        display: flex;
        align-items: center;
        margin-bottom: 1rem;
    }

    .student-img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin-right: 1rem;
    }

    .student-info {
        flex-grow: 1;
    }

    .student-info h4 {
        margin: 0;
        font-size: 1.2rem;
    }

    .student-info p {
        margin: 0;
        font-size: 1rem;
        color: #ff0000;
    }

    .progress {
        margin-top: 0.5rem;
        height: 20px;
    }

    .progress-bar {
        background-color: #ff0000;
        font-size: 20px;
    }

    hr {
        border: 1px solid #ddd;
    }
}

$primary-color: #0277bd;
$secondary-color: #7e57c2;
$background-color: #f5f5f5;
$text-color: #333;
$button-color: #d32f2f;
.techer-7 {
    $text-primary: #007bff;
    $text-purple: #6f42c1;

    .card {
        &.mb-3 {
            margin-bottom: 1.5rem;
        }
        .card-body {
            .btn-block {
                display: block;
                width: 100%;
            }
            .form-control {
                margin-bottom: 1rem;
            }
        }
    }
    .correct-answer::after {
        content: "✓ ";
        color: green;
        font-weight: bold;
    }
    .incorrect-answer::after {
        content: "✗ ";
        color: red;
        font-weight: bold;
    }
    .list-group-item {
        margin-bottom: 1rem;
        .form-check {
            margin-bottom: 0.5rem;
        }
    }
}

.register {
    .bg-cover {
        background-size: cover !important;
        background-position: center !important;
    }

    .box-logo{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    .bg-light {
        // background-color: #f8f9fa !important;
        background-color: #fff !important;
    }

    form .btn {
        margin-bottom: 10px;
    }

    form .form-group {
        margin-bottom: 15px;
    }

    form .form-check-label {
        margin-left: 5px;
    }


    form .form-check-input {
        margin-top: 0.3rem;
    }

    .text-muted {
        color: #6c757d !important;
    }
    .links-right {
        ul {
            list-style: none;
            display: flex;
            justify-content: center;
            gap: 20px;
            padding: 20px 0 0 0;
            li {
                a {
                    font-size: 20px;
                    text-transform: capitalize;
                    color: #fff;
                    text-decoration: none;
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}
