$main-color: #184a8c;

.home-login-register {
    background-image: url("../images/bac-home-login.svg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    padding: 15px 0 0;
    .nav-box-head {
        height: 100px;
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        padding: 20px 25px;
        .first {
            display: flex;
            align-items: center;
            justify-content: center;
            img {
                width: 150px;
                height: 150px;
                object-fit: cover;
            }
            h2 {
                text-transform: capitalize;
                font-size: 30px;
                color: #fff;
                margin-left: 10px;
                padding: 0 25px;
            }
        }
        .second {
            display: flex;
            align-items: center;
            justify-content: center;
            a {
                color: #fff;
                font-size: 20px;
                margin-right: 20px;
                text-decoration: none;
                padding: 10px 25px;
                background-color: $main-color;
                border-radius: 25px;
                transition: all 0.3s;
                &:hover {
                    color: #fff;
                    text-decoration: underline;
                }
            }
        }
    }
    .center-box-all {
        height: calc(90vh - 100px);
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 80%;
        margin: auto;
        background-color: #fff;
        padding: 25px 20px;
        border-radius: 5px;
        .left-box {
            width: 500px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            gap: 25px;
            h1 {
                font-size: 30px;
                text-transform: capitalize;
                margin-bottom: 20px;
                span.one {
                    color: #000;
                    display: block;
                }
                span.two {
                    color: $main-color;
                }
            }
            p {
                font-size: 20px;
                width: 80%;
                font-weight: 400;
                color: #000;
                margin-bottom: 20px;
            }
            button {
                padding: 10px 25px;
                background-color: $main-color;
                color: #fff;
                font-size: 20px;
                border: none;
                border-radius: 25px;
                cursor: pointer;
                transition: all 0.3s;
                border: 1px solid transparent;
                &:hover {
                    background-color: #fff;
                    color: $main-color;
                    border: 1px solid $main-color;
                }
            }
        }
        .right-box {
            width: calc(100% - 500px);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .box-all-items {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                .one {
                    gap: 15px;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin-bottom: 20px;
                    .item {
                        width: calc(100% / 3);
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        flex-direction: column;
                        padding: 30px 10px;
                        img {
                            width: 50px;
                            height: 50px;
                            object-fit: cover;
                        }
                        p {
                            font-size: 17px;
                            color: #000;
                            margin: 0;
                            margin: 10px 0 0;
                        }
                    }
                }
            }
        }
    }
}

.student-home {
    header {
        background-color: hsl(201, 100%, 28%);
        color: #fff;
        text-align: center;
        nav {
            height: 70px;
        }
        .navbar-brand {
            img {
                width: 80px;
                height: 80px;
                object-fit: cover;
            }
        }
        h1 {
            font-size: 2em;
            margin: 0;
        }
        ul {
            width: 100%;
            justify-content: flex-end;
            .nav-link {
                color: #fff !important;
                font-size: 1.2em;
                margin: 0 10px;
                text-decoration: none;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }

    main {
        .hero {
            width: 90%;
            margin: auto;
            .box-all-head-two {
                display: flex;
                width: 100%;
                justify-content: space-between;
                align-items: center;
                .one {
                    display: flex;
                    align-items: flex-start;
                    justify-content: flex-start;
                    flex-direction: column;
                    h1 {
                        font-size: 2.5em;
                        color: #007bff;
                        margin-bottom: 20px;
                    }
                    p {
                        font-size: 1.2em;
                        margin-bottom: 20px;
                        color: #000;
                        width: 80%;
                        text-align: left;
                    }
                }
                .img-box {
                    img {
                        width: 300px;
                        height: 300px;
                        object-fit: cover;
                    }
                }
            }
        }
    }
    .hero {
        .hero-buttons {
            margin: 25px 0;
            display: flex;
            justify-content: space-between;
            gap: 25px;
            align-items: center;
            .item {
                width: calc(100% / 3);
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                img {
                    width: 100%;
                    height: 200px;
                    object-fit: cover;
                }
            }
            button {
                padding: 10px 20px;
                margin: 5px;
            }
        }
    }

    .unique-features {
        width: 90%;
        margin: auto;
        h2 {
            font-size: 2em;
            margin-bottom: 20px;
        }

        .feature-img {
            width: 50px;
            height: 50px;
            margin-bottom: 10px;
        }

        p {
            font-size: 1em;
        }
        .all-item-six {
            .col-md-4 {
                display: flex;
                align-items: center;
                justify-content: center;
            }
            .item {
                padding: 10px 0;
                border-radius: 5px;
                width: 90%;
            }
        }
    }

    .course-info {
        width: 90%;
        margin: auto;
        .card {
            background-color: #efefef;
            h3 {
                font-size: 1.5em;
                margin-bottom: 10px;
            }

            p {
                font-size: 1.2em;
                margin-bottom: 20px;
            }

            button {
                padding: 10px 20px;
                color: #000;
                border: 1px solid #000;
                background-color: #fff;
                border-radius: 5px;
            }
        }
    }
}

.student-lessons {
    header {
        background-color: hsl(201, 100%, 28%);
        color: #fff;
        text-align: center;
        nav {
            height: 70px;
        }
        .navbar-brand {
            img {
                width: 80px;
                height: 80px;
                object-fit: cover;
            }
        }
        h1 {
            font-size: 2em;
            margin: 0;
        }
        ul {
            width: 100%;
            justify-content: flex-end;
            .nav-link {
                color: #fff !important;
                font-size: 1.2em;
                margin: 0 10px;
                text-decoration: none;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
    .lesson-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 20px auto;
        width: 90%;
        img {
            width: 50%px;
            height: 300px;
            object-fit: cover;
        }
        h1 {
            font-size: 2em;
            color: #000;
            text-align: left;
            margin-bottom: 20px;
            span {
                margin: 15px 0 0;
            }
        }
        .one {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }
        .btn-primary {
            margin-bottom: 20px;
            width: 50%;
            text-align: center;
        }
    }

    .lesson-tabs {
        width: 90%;
        margin: auto;
        .nav-tabs .nav-link {
            font-size: 1.1em;
            &.active {
                border-bottom: 3px solid #007bff;
            }
        }

        .card {
            width: 100%;
        }

        .card-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: #e9ecef;
        }

        .card-body {
            ul {
                list-style: none;
                padding: 0;

                li {
                    padding: 5px 0;
                    font-size: 1em;
                    display: flex;
                    justify-content: space-between;

                    .badge-success {
                        margin-left: 10px;
                        padding: 10px 20px;
                        border-radius: 5px;
                    }
                }
            }
        }
        .box-all-items {
            gap: 20px;
            position: relative;
            .overlay {
                display: flex;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 200px;
                background-color: rgba(0, 0, 0, 0.5);
                color: #fff;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                i {
                    font-size: 3em;
                }
            }
            video {
                width: 100%;
                height: 200px;
                object-fit: cover;
            }
            .card-body {
                display: flex;
                align-items: center;
                justify-content: space-between;
                p,
                h5 {
                    margin: 0;
                }
            }
            &.quizzes-box {
                .card {
                    cursor: pointer;
                    img {
                        // height: 200px;
                        width: 100px;
                        margin: 50px 0 0;
                    }
                    .card-body {
                        padding: 10px;
                        background-color: #d9d9d9;
                        justify-content: center;
                        gap: 20px;
                        .card-title {
                            position: absolute;
                            background-color: #005f91;
                            margin: 0;
                            border-radius: 5px;
                            padding: 6px 35px;
                            color: #fff;
                            top: 7px;
                            left: 5px;
                        }
                        h5 {
                            font-size: 18px;
                            margin-bottom: 10px;
                        }
                        .card-text {
                            color: #005f91;
                            font-size: 18px;
                            font-weight: 600;
                        }
                    }
                }
            }
        }
    }
}

.subscription-card {
    position: relative;
    border: none;
    border-radius: 15px;
    background-color: #f8f9fa;

    .close-btn {
        border: none;
        font-size: 1.2rem;
        &:hover {
            color: #dc3545;
        }
    }

    .card-title {
        font-size: 1.5rem;
        font-weight: bold;
    }

    .card-subtitle {
        font-size: 1.2rem;
    }

    .list-unstyled {
        font-size: 1rem;
        margin-bottom: 1rem;

        li {
            margin-bottom: 0.5rem;
        }
    }

    .price {
        font-size: 1.2rem;
        font-weight: bold;
    }
}

.quizzes-box-all{
    .quiz-title {
        font-size: 2rem;
        font-weight: bold;
        margin-bottom: 20px;
        color: #763CF0;
    }
    .quiz-card {
        flex-direction: row;
        align-items: center;
        padding: 0 10px;
        cursor: pointer;
        transition: transform 0.2s;
        &:hover {
            transform: scale(1.05);
        }
        .card-img-top {
            width: 45%;
            border: none !important;
        }
        .card-title {
            font-size: 1.2rem;
            font-weight: bold;
        }
        h5{
            margin: 0;
        }
    }
}
